easydict
grpcio<=1.43.0
loguru>=0.5.3
numba
numpy
numpy-quaternion
nuscenes-devkit
open3d
opencv-python-headless
pandas
pytorch-lightning
pylas
pyquaternion
scikit-image
scipy
spconv-cu111>=2.1.12
tensorboardX
torch==1.9.0
torchvision==0.10.0
